---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.1/search/advanced?access_token=L0J88cciBPHiGtIKCul6Gg))&key=pfllsDjWHeLGWoWIT5rRdA((&q=ruby%20on%20rails&site=stackoverflow
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"tags":["ruby-on-rails"],"owner":{"reputation":458,"user_id":1412149,"user_type":"registered","accept_rate":94,"profile_image":"http://i.stack.imgur.com/BQRsF.jpg?s=128&g=1","display_name":"Lucas","link":"http://stackoverflow.com/users/1412149/lucas"},"is_answered":false,"view_count":23,"answer_count":1,"score":0,"last_activity_date":1392031727,"creation_date":1392028338,"question_id":21674703,"link":"http://stackoverflow.com/questions/21674703/submit-form-directly-from-the-controller","title":"Submit
        form directly from the controller"},{"tags":["ruby-on-rails","ruby-on-rails-3","activerecord","ruby-on-rails-4","rails-activerecord"],"owner":{"reputation":6798,"user_id":326389,"user_type":"registered","accept_rate":68,"profile_image":"https://www.gravatar.com/avatar/d2c037ce48d12bd88ec6529f9bb39f0a?s=128&d=identicon&r=PG","display_name":"at.","link":"http://stackoverflow.com/users/326389/at"},"is_answered":false,"view_count":16,"answer_count":1,"score":2,"last_activity_date":13[...]
